# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AdventOfCode2025.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/encodings.xml
/indexLayout.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# User specific
**/.idea/**/tasks.xml
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
